@import "~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family";
@import "~carbon-components/scss/globals/scss/typography";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
  font-family: "IBM Plex Sans";
}
.bx--grid--full-width {
    padding-left: 0;
    padding-right: 0;

  }

  // removes excess padding for nested full width grids
  .bx--grid--full-width .bx--grid--full-width {
    padding-left: 0;
    padding-right: 0;
  }

  // removes extraneous row margins in the full width grid
  .bx--grid--full-width .bx--row {
    margin-left: 0;
    margin-right: 0;
  }

  // aligns the tabs to the right
  .landing-page__r2 .bx--tabs__nav {
    right: 0;
  }

  // forces the navigation items to be displayed at all viewport sizes
  .bx--header {
    border-bottom: 0px;
  }
  .bx--header__nav {
    display: block;
  }

  footer {
  
    margin: auto;
    z-index: 1040;
    height: 48px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

.bx--header {
	height: 67px;
}

.bx--tile.bx--tile--clickable.bx--link {
	padding:$spacing-05 0;
	min-height:0;
  color: #3d95cc;
  border-bottom: 1px solid #dde1e6;
}
.bx--link:active,
.bx--link:hover,
.bx--link:active:visited, 
.bx--link:active:visited:hover
{
  color: #3d95cc;
  text-decoration: none;
}

.bx--tile--clickable {
  font-size: 12px;
}
.landing-page__r4 {
  div:last-child .bx--tile {
  border-bottom: 0;
  }
  svg {
    fill:rgba(61, 149, 204, 1);
  }
}
.player-icon svg {
  fill: #fff;		 
}
svg {
  fill:#fff;
  vertical-align: middle;
}

.bx--accordion__title svg {
  fill: #24a047;
}
.control-icons svg {
  fill:#4d5358;
}
header svg {
  fill: #121619;
}
.addNewAddress {
  svg {
    fill:#0f62fe;
  }
}
.bx--accordion__heading {
  align-items: baseline;
  justify-content: center;
  height: 50px;
  padding:0.75rem 0;

}
.bx--tile--clickable {
  font-size: 13px;
}

.bx--accordion__heading
 {
  background-color: #343a3f;
  color: #fff;
  &:hover::before,
    &:focus::before {
      background-color: #343a3f;
  color: #fff;
  outline: 0;
    }
}
.bx--radio-button:checked + .bx--radio-button__label .bx--radio-button__appearance::before {
  background: #3D95CC;
  border-color: #3D95CC;
}
.bx--accordion__item--active .bx--accordion__content {
  font-size: 12px;
  color: #fff;
}
footer {
  button {
    svg {
      position: absolute;
      right: $spacing-05;
      top: $spacing-05;
    }
  }
}
address {
  left: 2rem;
}