@import "~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family";
@import "~carbon-components/scss/globals/scss/typography";
.bx--grid {
	padding: 0px;
	padding-bottom: 7rem;
}
header {
	padding: $spacing-04 0;
	color: #fff;
	z-index: 999;
	div {
		margin: 0 auto;
		h1 {
			font-size: 16px;
			text-transform: uppercase;
		}
		h2 {
			text-transform: uppercase;
			font-size: 13px;
			color: #fff;
			text-align: center;
			/*border style*/
			position: relative;
			left: 0;
			right: 0;
			margin: $spacing-02 auto;
			z-index: 1;
			display: table;
			white-space: nowrap;
			&:before,
			&:after {
				border-top: 2px solid #f6c311;
				content: "";
				display: table-cell;
				position: relative;
				top: 0.65em;
				width: 10px;
			}
			&:before {
				right: 2.5%;
			}
			&:after {
				left: 2.5%;
			}
		}
	}
}
/*set bg token*/
@mixin landing-page-background() {
	background-color: $ui-05;
	&::before {
		content: "";
		background: $ui-05;
	}
}
header {
	@include landing-page-background;
}
p {
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 18px;
	color: #000;
	margin-bottom: $spacing-05;
}
h3 {
	font-size: 16px;
	font-style: bold;
	margin: $spacing-05 0;
	line-height: 18px;
	color: #000;
}
h4 {
	width: 100%;

	font-size: 16px;
	font-style: bold;
	font-weight: 500;
	line-height: 18px;
	color: #21272a;
	text-transform: capitalize;
	margin-bottom: $spacing-05;
}
span {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 18px;
	color: #333942;
	margin-bottom: 5px;
}
p.bx--type-sans {
	margin-bottom: 0;
}
.bx--data-table-header {
	padding: 1rem 0 0rem 0rem;
	background: #fff;
	p {
		margin-bottom: 4px;
	}
}
.landing-page__r1,
.landing-page__r2,
.landing-page__r3,
.landing-page__r4 {
	margin-bottom: $spacing-05;
	margin-top: $spacing-05;
}
.landing-page__r4 {
	background-color: #f2f4f8;
	p {
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 21px;
		color: #4d5358;

		padding: $spacing-05;
	}
}
/*---recipies------*/
.recipies {
	width: 100%;
	background: #fff;
	border: 1px solid #dde1e6;
	padding: $spacing-05;
	box-sizing: border-box;
	.column-6 {
		display: block;
		flex: 0 0 37.5%;
		max-width: 37.5%;
	}
	.column-10 {
		display: block;
		flex: 0 0 62.5%;
		max-width: 62.5%;
	}
	.column-5 {
		display: block;
		flex: 0 0 31.25%;
		max-width: 31.25%;
	}
	.column-6 {
		display: block;
		flex: 0 0 37.5%;
		max-width: 37.5%;
	}
	label {
		color: #878d96;
		font-size: 10px;
		display: inline-block;
		width: 100%;
		margin-bottom: $spacing-03;
	}
	span {
		display: inline-block;
		font-size: 12px;
		font-weight: bold;
		color: $ui-05;
	}
}
/*--accordion--*/
.accordion {
	width: 100%;
}
.bx--accordion__item {
	background-color: #343a3f;
	width: 100%;

	p,
	.bx--accordion__arrow {
		color: #ffffff;
		fill: $ui-01;
	}
}

/*---delivery way---*/

/*--footer--*/
footer {
	background-color: $ui-01;
	height: 110px;
	div {
		margin: auto;
		text-align: center;
		a {
			color: #121619;
			text-decoration-line: underline;

			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
			margin: $spacing-05 auto;
			display: inline-block;
		}
		p {
			color: $ui-03;

			font-style: normal;
			font-weight: normal;
			text-align: center;
			margin: $spacing-05 auto;
			font-size: 12px;
		}
	}
}
.bx--tile {
	min-height: $spacing-05 !important;
	height: $spacing-05 !important;
	padding: 0;
}

/*---video---*/
.landing-page__r5 {
	div {
		padding: 0;
	}
}
.player {
	position: relative;
	width: 100%;
	height: 242px;
	cursor: pointer;
	video {
		position: relative;
		width: 100%;
	}

	.player-icon {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 2;
		background-color: rgba(18, 22, 25, 0.5);
		backdrop-filter: blur(100px);
		transition: all 250ms;

		p {
			color: #fff;
			position: absolute;
			left: 7.56%;
			right: 8.81%;
			top: 81.03%;
			bottom: 15.67%;
			z-index: 3;
			font-size: 14px;
			font-weight: bold;
			line-height: 21px;
		}
	}
}
