@import "~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family";
@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/colors";
@import "carbon-variable-override";


.bx--home-main-container {
	padding-top: $home-header-height;
}
.title{
	font-weight: bold;
}


/*set bg token*/
@mixin landing-page-background() {
	background-color: $ui-05;
	&::before {
		content: "";
		background: $ui-05;
	}
}
header {
	@include landing-page-background;
}

p.bx--type-sans {
	margin-bottom: 0;
}
.bx--data-table-header {
	padding: 1rem 0 0rem 0rem;
	background: #fff;
	p {
		margin-bottom: 4px;
	}
}
.landing-page__r1,
.landing-page__r2,
.landing-page__r3,
.landing-page__r4 {
	margin-bottom: $spacing-05;
	margin-top: $spacing-05;
}

.landing-page__r4 {
	background-color: #f2f4f8;
	width: calc(100% - 2rem);
	margin: 1rem auto;

	p {
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 21px;
		color: #4d5358;
		padding: $spacing-05;
		padding-bottom: 0px;

	}
}
/*---recipies------*/

.recipies {
	label {
		color: $cool-gray-50;
		font-size: $small-font-size;
	}
}
/*--accordion--*/
.accordion {
	//width: 100%;
	.bx--accordion__custom-head
	{
		background-color: $cool-gray-80;
		color: #fff;
		height: 50px;
		padding:0.75rem;
		font-size: $default-font-size;
/*		&:hover::before,
		&:focus::before {
			background-color: #343a3f;
			color: #fff;
			//outline: 0;
		}*/
		svg{
			fill: #fff;
		}
	}
}


.bx--tile {
	min-height: $spacing-05 !important;
	height: $spacing-05 !important;
	padding: 0;
}

/*---video---*/
.landing-page__r5 {
	margin: 1rem;
}
.player {
	position: relative;
	width: 100%;
	background-color: rgba(18, 22, 25, 0.5);
	min-height: 165px;
	.player-icon {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 2;
		background-color: rgba(18, 22, 25, 0.5);
		backdrop-filter: blur(100px);
		transition: all 250ms;
		div {

			width: 100%;
			height:100%;
			text-align: center;
			position: relative;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			p {
				color: #fff;
				z-index: 3;
				font-size: 14px;
				font-weight: bold;
				line-height: 21px;
				text-align: left;
				position: absolute;
				bottom: 0;
				margin-bottom: 0;
				left: $spacing-05;
			}
		}

	}
}
.bx--accordion__item {
	border-top: 0px;
}
.bx--accordion__item:last-child {
	border-bottom: 0px;
}
div.video-content {
	padding-top: 13%;
}
@media (min-width:600px) {
	div.video-content {
		padding-top: 20%;
	}
}
p.estimated-date {
	background-color: #4D5358;
	color: #dde1e6;
	font-size: 10px;
	font-weight: 600;
	line-height: 13px;
	margin-top: 28px;
	padding:4px 17px;
}
p.progress-date {
	font-size: 10px;
	padding-bottom:0px;
	line-height: 0px;
	text-transform: capitalize;
}
.bx--accordion__item{
border-top: 1px solid #4d5358;
}
