<header>
   <div>
    <h1 class="landing-page__heading center">
        APOTHEEK
      </h1>
      <h2 class="background">
          BECKERS
      </h2>
   </div>
</header>
<div ibmGrid class="bx--grid--full-width">

    <div ibmRow class="landing-page__r2">
        <div ibmCol [columnNumbers]="{'lg': 16}">
            <h3 class="bx--type-semibold">
                Dear Mr.John Doe
            </h3>
        </div>
        <div ibmCol [columnNumbers]="{'lg':16}">
            <p class="bx--type-sans">
                Your recipe is being processed. You can see the status of your recipe below and change the delivery
                setting if needed.
            </p>
        </div>

    </div>
    <!--recipes table-->
    <div ibmRow class="landing-page__r3">

       
        <div ibmCol [columnNumbers]="{'lg':16}" class="recipies">
           <div ibmRow>
             <div ibmCol  class="column-5">
               <label>
                   Recipe No
              </label>
               <span class="recipeNoValue">
                   541745
               </span>
              </div> 
               <div ibmCol class="column-11">
            <label>
              Address
           </label>
            <span class="addressValue">
                Sophiaweg 500 A 245, 6523NJ Nijmegen
            </span>
           </div>
        </div>
           <div ibmRow>
               <div ibmCol class="column-5">
                <label>
                  Payment
                 </label>
                  <span class="paymentValue">
                     0 / 10 $ Unpaid
                  </span>
               </div>
               <div ibmCol class="column-5">
                <label>
                  Receiving Type
               </label>
                <span class="deliveryTypeValue">
                   Delivery
                </span>
               </div>
               <div ibmCol class="column-6">
                <label>
                  Delivery Date
               </label>
                <span class="dateValue">
                   23-06-2019 Sun 12:20
                </span>
               </div>
           
        </div>
       
      
        
    </div>
    <div ibmRow style="width:100%">
        <div class="accordion" style="width:100%">
            <ibm-accordion>
                <ibm-accordion-item [title]="title">Lorem ipsum dolor sit amet, \
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore \
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation \
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </ibm-accordion-item>

            </ibm-accordion>
        </div>

        <ng-template #title>
            <p class="bx--accordion__title">
                <ibm-icon-in-progress size="20"></ibm-icon-in-progress>
                Recipe is in filling process ...</p>
        </ng-template>

        <ng-template #titleWithContext let-index="index">
            <p class="bx--accordion__title">Section {{ index }} title</p>
        </ng-template>

       </div>
    <div ibmRow class="landing-page__r4">

            <p>
                The delivery date and or address doesn’t suit for you?
            </p>



        <div ibmCol [columnNumbers]="{'lg':16}">
            <ibm-clickable-tile [route]="['']">
                <ibm-icon-location size="16"></ibm-icon-location>
                Deliver to another address
            </ibm-clickable-tile>
        </div>
        <div ibmCol [columnNumbers]="{'lg':16}">
            <ibm-clickable-tile [route]="['']">
                <ibm-icon-calendar size="16"></ibm-icon-calendar>
            Choose another date and time
            </ibm-clickable-tile>
        </div>
        <div ibmCol [columnNumbers]="{'lg':16}">
            <ibm-clickable-tile [route]="['']">
                <ibm-icon-building size="16"></ibm-icon-building>
                Deliver to neighbor
            </ibm-clickable-tile>
        </div>
        <div ibmCol [columnNumbers]="{'lg':16}">
            <ibm-clickable-tile [route]="['']">
                <ibm-icon-email size="16"></ibm-icon-email>
                Deliver to your mailbox
            </ibm-clickable-tile>
        </div>

    </div>

    <div ibmRow class="landing-page__r5">
        <div ibmCol [columnNumbers]="{'lg':16}">
            <div class="player">
                <div class="player-icon" (click)="playPause()">

                   <ibm-icon-play-outline size="32"></ibm-icon-play-outline>
                   <p>
                    Ik heb als hoofdgebruiker een account ontvagen. Hoe maak ik voor mijn personeel account aan?
                   </p>
                  </div>
                <video id="my_video_1" #videoPlayer>
                    <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
                    Browser not supported
                </video>
            </div>
        </div>
    </div>

</div>
<footer>

    <div>
        <a href="#">
            Receptstatus.nl

        </a>
        <p>
            Copyright 2020 Apotheek coach. all rights reserved.
        </p>
    </div>

</footer>
