<header>
    <div>
        <h1 class="address-list__heading right">
            
            <ibm-icon-arrow-left size="20"></ibm-icon-arrow-left>
            Address
        </h1>
    </div>
</header>
<div ibmGrid class="bx--grid--full-width">

    <div ibmRow class="address-list__r2">
        <div ibmCol [columnNumbers]="{'lg':16}">
            <app-address-list-item></app-address-list-item>
        </div>
        <div ibmCol [columnNumbers]="{'lg':16}">

            <a href="#" ibmLink>add New address</a>
        </div>
    </div>
    <!--footer btns-->
    <footer>
        <button ibmButton="secondary">
            cancel

           
<ibm-icon-close size="16"></ibm-icon-close>
            </button>
            <button ibmButton class="success">
                next
                <ibm-icon-chevron-right size="16" color="#fff"></ibm-icon-chevron-right>
        </button>
    </footer>

</div>
