<div ibmGrid class="bx--grid--full-width">
    <div ibmRow class="address-list__r1 address-list__banner">
        <div ibmCol [columnNumbers]="{'lg':16}">
            <h1 class="address-list__heading right">
                Address
            </h1>
        </div>
    </div>
    <div ibmRow class="address-list__r2">
        <div ibmCol [columnNumbers]="{'lg':16}">
            item haye address
        </div>
        <div ibmCol [columnNumbers]="{'lg':16}">
            <a href="#">add New address</a>
        </div>
    </div>
    <!--footer btns-->
    <div ibmRow class="address-list__r3 footer">
       
        <button ibmButton="secondary">
            cancel
            
            <svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
			</button>
            <button ibmButton class="success" renderIcon={Add16}>
                next<svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
                </button>
     
    </div>
</div>
