<header>
    <div>
        <h1 class="address-list__heading right">
            Address
        </h1>
    </div>
</header>
<div ibmGrid class="bx--grid--full-width">

    <div ibmRow class="address-list__r2">
        <div ibmCol [columnNumbers]="{'lg':16}">
            <app-address-list-item></app-address-list-item>
        </div>
        <div ibmCol [columnNumbers]="{'lg':16}">

            <a href="#" ibmLink>add New address</a>
        </div>
    </div>
    <!--footer btns-->
    <footer>
        <button ibmButton="secondary">
            cancel

            <svg class="bx--btn__icon" ibmIconPending32 size="20"></svg>

            </button>
            <button ibmButton class="success">
                next
                <svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
        </button>
    </footer>

</div>
