@import "~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family";
@import "~carbon-components/scss/globals/scss/typography";
.bx--grid {
	padding: 0px;
}
.address-list__banner {
	padding-top: $spacing-04;
	padding-bottom: $spacing-04;
	h1 {
		font-family: "IBM Plex Sans";
		font-size: 20px;
		font-weight: bold;
		line-height: 28px;
		color: $ui-05;
	}
}


/*set bg token*/
@mixin address-list-background() {
	background-color: $ui-01;
	&::before {
	  content: '';
	  background: $ui-01;
	}
  }
  .address-list__banner {
	
	@include address-list-background;
  }

footer {
	

	button {
		width: 50%;
		max-width: 50%;
	}
	button.success {
		background-color: #6c9c46;
	}
}