@import "~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family";
@import "~carbon-components/scss/globals/scss/typography";
footer {
	background-color: #f8f8f8;
	height: 110px;
    
	div {
		margin:$spacing-02 auto;
		text-align: center;
        max-width: 200px;
		a {
			color: #121619;
			text-decoration-line: underline;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 18px;
			margin: $spacing-05 auto;
			display: inline-block;
		}
		p {
			color: $text-03;
			font-style: normal;
			font-weight: normal;
			text-align: center;
			margin: $spacing-05 auto;
			font-size: 12px;
		}
	}
}