<ol ibmList>
    <li ibmListItem *ngFor="let address of addresses">
        <div class="card" ibmLink>
            <fieldset class="bx--fieldset">
                <legend class="bx--label"></legend>
                <ibm-radio-group 
                    aria-label="radiogroup"
                    [(ngModel)]="addresses"
                    (change)="onChange($event)">
                    
                    <ibm-radio 
                        [value]="address.title"
                        >
                        {{address.title}}
                    </ibm-radio>
                </ibm-radio-group>
            </fieldset>

            <ul class="control-icons">
                <li>
                    edit
                </li>
                <li>
                    *
                </li>
            </ul>
           
            <address>
                Sophiaweg 500 A 245,6523NJ Nijmegen
            </address>
            <ul class="delivery-way">
                <li>
                    Neighbour Sophiaweg 500 A 245,6523NJ Nijmegen
                </li>
                <li>
                    Mailbox
                </li>
            </ul>
        </div>
    </li>
   
</ol>