@import "~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family";
@import "~carbon-components/scss/globals/scss/typography";
.card {
    border:1px solid $ui-01;
    margin-top: $spacing-04;
    color: $ui-05;
    box-sizing: border-box;
    padding:0px $spacing-04 $spacing-04 0px;
    transition: all 0.1s ease-in;
    &::selection , &:hover {
        border: 1px solid #3d95cc;
    }
    .bx--radio-button:checked ,
    .bx--radio-button:checked ,
     .bx--radio-button__label .bx--radio-button__appearance::before
    .bx--radio-button__label .bx--radio-button__appearanc {
        border-color: #3d95cc;
    }
   
    ul.control-icons {
        padding-top:$spacing-04;
        li {
            display: inline-block;
            color: $ui-05;
            &:first-child {
                padding-right:$spacing-03;
            }
        }
    }
    address {
       margin-top: $spacing-04;
        color: $ui-05;
        padding-left: $spacing-05;
        font-size: 12px;
    }
    .delivery-way {
       

        li {
            margin-top: $spacing-04;
            color: $ui-03;
            font-size: 10px;
            padding-left: $spacing-05;
        }
    }
    // padding: $spacing-05;
    .bx--radio-button__appearance {
        border: 1px solid #3d95cc;
        color:#3d95cc;
    }
}
.bx--radio-button:checked + .bx--radio-button__label .bx--radio-button__appearance::before ,
.bx--radio-button:checked + .bx--radio-button__label .bx--radio-button__appearance::before{
    background-color: #3d95cc !important;
}
.bx--link{
    text-decoration: underline;
}