<header class="secondary-navbar">
    <div>
        <h1>
            <ibm-icon-arrow-left size="16"></ibm-icon-arrow-left>
            Neighbor / Mailbox

        </h1>
    </div>
</header>
<h2>
    Delivery Address
</h2>
<div class="card">
    <div class="d-flex justify-content-around">
        <h3 class="w-100">
            Antony Home
            
        </h3>
        <span class="edit flex-shrink-1">
            <ibm-icon-edit size="16"></ibm-icon-edit>
        </span>
    </div>
    <p>
        Groenestraat 191,6531 HE Nijmegen
    </p>
</div>
 <!--footer btns-->
 <footer class="secondary-footer">
    <button size="field" class="bx--btn__with-icon" ibmButton="secondary">
      Back
        <ibm-icon-close size="16"></ibm-icon-close>
    </button>
    <button ibmButton size="field" class="success bx--btn__with-icon" type="submit">
       Next
        <ibm-icon-checkmark size="16"></ibm-icon-checkmark>

    </button>
</footer>