<header class="secondary-navbar">
    <div>
        <h1>
            <ibm-icon-arrow-left size="16"></ibm-icon-arrow-left>
            Neighbor / Mailbox

        </h1>
    </div>
</header>
<p>
    Delivery Address
</p>
<div class="card">
    <div class="d-flex justify-content-around">
        <h2 class="w-100">
            Antony Home
            
        </h2>
        <span class="edit flex-shrink-1">
            <ibm-icon-edit size="16"></ibm-icon-edit>
        </span>
    </div>
    <p>
        Groenestraat 191,6531 HE Nijmegen
    </p>
</div>
<div class="neighbor-mailbox">
<p>
    If you are not at home at the time you choose, select one of the options below 
</p>
<div class="d-flex justify-content-around align-items-center">
    <h2 class="w-100">
        Delivery to the neighbor
    </h2>

    <ibm-toggle #neighbor onText=" " offText=" " size="md"></ibm-toggle>
 
</div>
<div *ngIf="neighbor.checked == true" class="add-new d-flex">

    <a [routerLink]="['add']" ibmLink class="addNewAddress">
        Add Neighbor Address 
        <ibm-icon-add size="16"></ibm-icon-add>
    </a>
</div>
<div class="d-flex justify-content-around align-items-center">
    <h2 class="w-100">
        Delivery to mailbox
    </h2>
    <ibm-toggle onText=" " offText=" " checked="true" size="md"></ibm-toggle>
</div>
</div>
 <!--footer btns-->
 <footer class="secondary-footer">
    <button size="field" class="bx--btn__with-icon" ibmButton="secondary">
      Back
        <ibm-icon-undo size="16"></ibm-icon-undo>
    </button>
    <button ibmButton size="field" class="success bx--btn__with-icon" type="submit">
       Next
        <ibm-icon-checkmark size="16"></ibm-icon-checkmark>

    </button>
</footer>