<ibm-modal [size]="size" [open]="open" (overlaySelected)="closeModal()">
    <ibm-modal-header (closeSelect)="closeModal()">
        <h1>Delete Address</h1>

    </ibm-modal-header>
    <section ibmModalContent>
        <p>
            Are you sure you want to delete the address ?
        </p>

    </section>
    <ibm-modal-footer>
        <button class="bx--btn__with-icon" size="field" ibmButton="secondary" (click)="closeModal()">
            Cancel
             <ibm-icon-close size="16"></ibm-icon-close> 
          
        </button>
        <button ibmButton="danger" size="field" class="bx--btn__with-icon" (click)="delete()">
           
            Delete
            <ibm-icon-delete size="16"></ibm-icon-delete>
            <!-- <svg class="bx--btn__icon" ibmIconDelete size="16"></svg> -->
        </button>
    </ibm-modal-footer>
</ibm-modal>