@import "~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family";
@import "~carbon-components/scss/globals/scss/typography";
.bx--grid {
	padding:$spacing-04;
	padding-bottom: 153px;
}

.form-item {
	margin-bottom: $spacing-05;
	
}
.bx--input__with-icon {
	position: relative;
}
