<header>
    <div>
        <h1 class="address-list__heading right">
           Add New Address
        </h1>
    </div>
</header>
<div ibmGrid class="bx--grid--full-width">
   
    <div ibmRow class="address-list__r2">
        <div ibmCol [columnNumbers]="{'lg':16}">
           
        </div>
        <div ibmCol [columnNumbers]="{'lg':16}">
            
            <a href="#" ibmLink>
                Save as my default address
            </a>
        </div>
    </div>
    <!--footer btns-->
    <footer>
        <button ibmButton="secondary">
            Cancel
            
            <svg class="bx--btn__icon" ibmIconPending32 size="20"></svg>
            
            </button>
            <button ibmButton class="success">
               Add Address
                <svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
        </button>
    </footer>
    
</div>
