@import "~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family";
@import "~carbon-components/scss/globals/scss/typography";
.bx--grid {
	padding:$spacing-04;
}
header {
	padding-top: $spacing-04;
	padding-bottom: $spacing-04;
	text-align: left;
	div {
		margin-inline-end: auto;
		h1 {
			font-family: "IBM Plex Sans";
			font-size: 20px;
			font-weight: bold;
			line-height: 28px;
			color: $ui-05;
		}
	}
}


/*set bg token*/
@mixin add-background() {
	background-color: $ui-01;
	&::before {
	  content: '';
	  background: $ui-01;
	}
  }
  header{
	@include add-background;
  }

footer {
	

	button {
		width: 50%;
		max-width: 50%;
	}
	button.success {
		background-color: #6c9c46;
	}
}